<app-header titulo="Grid"></app-header>



<ion-content>


    <ion-grid fixed>
        <ion-row > 
            <ion-col size="12" size-lg="3" size-md="4" size sm="6"    
                    *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
                <ion-img src="/assets/icon/stan-lee.jpg"></ion-img>


                <ion-card-header>
                    <ion-card-subtitle>Nuestro heroe</ion-card-subtitle>
                    <ion-card-title>Stan Lee</ion-card-title>
                </ion-card-header>

                <ion-card>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad voluptate quisquam sed? Repellendus quo ipsa qui, dolorem vitae vel voluptatum, sunt voluptatem suscipit laboriosam similique nulla, deserunt aliquid laudantium?
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
