 <ion-header class="ion-no-border"> <!--para quitar la linea de header -->
  <ion-toolbar >

    <ion-buttons slot="start">
      <ion-menu-button menu="first" ></ion-menu-button>
    </ion-buttons>

    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list *ngFor="let c of componentes | async; let i = index">

    <ion-item [routerLink] = "c.redirectTo"
              detail>
      <ion-icon slot="start" [name]="c.icon"  color="secondary" ></ion-icon>
      
      {{c.name}} 
    </ion-item>

  </ion-list>



<!-- <ion-button routerLink="/alert">
  Alert
</ion-button>

<ion-button routerLink="/action-sheet">
  Action Sheet
</ion-button> -->


</ion-content>
