
ion-slides{

    height: 100%;
    --bullet-background-active :black;
}


.slides-1{
    height: 100%;
    background-color: red;
}

.slides-2{
    background-color: gray;
    height: 100%;
}

.slides-3{
    height: 100%;
    background-color: honeydew;
    
}